@CHARSET "UTF-8";
#header { 
 overflow: hidden;
 background: #F18C7E; 
 color: white;
 padding: 15px 0px 15px 30px;
}
.left-item{ 
 float: left;
}
.right-item{ 
 float: right; 
 margin-right: 20px;
}
#notice-send {
 cursor: pointer;
}
#bell {
 background-image: url('/resources/bell.svg');
 position: relative;
 background-repeat: no-repeat;
 background-size: 100%;
 width: 20px;
 height: 20px;
 cursor: pointer;
 color:white;
}
#count {
 display:inline-block;
 position: absolute;
 top: -2px;
 left: 12px;
 z-index: 3;
 width: 15px;
 height: 15px;
 background: blue;
 position: absolute;
 border-radius: 15px;
 text-align: center;
 font-size: 10px;
 padding-bottom: 10px;
}